
body {
    font-family: "Meiryo UI", MeiryoUI, "メイリオ", Meiryo, "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
    background-image: url(queshu_visual.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 12vh;
    left: 0;
    right: 0;
    text-align: center;
    color: #333333;
    font-size: 1.25vw;
}

#title {
    margin: 0 auto;
    width: 60%;
}

.content {
    width: 75%;
    margin: 20px auto;
}

.block {
    height: auto;
    background: rgba(244,245,247,0.67);
    border-radius: 9999px;
}
.menu {
    margin: 0px auto;
    font-weight: bold;
}
.solo {
    height: initial;
    border-radius: 9999px;
    background: rgba(244,245,247,0.67);
    margin: 1% auto;
    word-break: keep-all;
    padding: 1.15vh;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    padding-top: 1.15vw;
    width: 25%;
    height: 4vw;
    border-radius: 9999px;
    background: rgba(244,245,247,0.67);
    margin: 1% auto;
    list-style: none;
}


@media screen and (max-width: 768px) {

    #title {
        margin: 0 auto;
        width: 90%;
    }
    .content {
        font-size: 6vw;
        width: 90%;
        margin: 20px auto;
    }

    ul {
        display: block;
    }

    li {
        width: initial;
        height: 8vh;
        padding: 1.15vh;
        font-size: 0.9em;
    }
    .solo {
        border-radius: 9999px;
        background: rgba(244,245,247,0.67);
        word-break: keep-all;
        padding: 0.5em;
        font-size: 0.75em;
        text-align: center;
        vertical-align: middle;
        height: auto;
        box-sizing: border-box;
        white-space: normal;
    }
    .block {
        font-size: 3vw;
    }
}

_::-webkit-full-page-media, _:future, :root .solo {
    font-size: 0.3em;
}